{%extends "base.html" %}
{% block style %}
<link rel="stylesheet" href="../static/inventory.css">
{% endblock%} 
{% block title %} Inventory {% endblock%}

{% block content %}
<body>
    <div class="form-div">
        <form class="sales-form" action="#">
            <div class="textbox">
                <input type="number" placeholder="Item ID">
            </div>
            <div class="textbox">
                <input type="text" placeholder="Item Category">
            </div>
            <div class="textbox">
                <input type="text" placeholder="Item Name">
            </div>
            <div class="textbox">
                <input type="number" placeholder="Default Price">
            </div>
            <div class="textbox">
                <input type="number" placeholder="RegularSellingPrice">
            </div>
            <div class="textbox">
                <input type="number" placeholder="Regular Buying Price">
            </div>
            <div class="textbox">
                <input type="number" placeholder="MRP">
            </div>
            <div class="textbox">
                <input type="number" placeholder="Dealer Price">
            </div>
            <div class="textbox">
                <input type="number" placeholder="Distributor Price">
            </div>
            <div class="textbox">
                <input type="number" placeholder="Tax">
            </div>
            <div class="textbox">
                <input type="number" placeholder="HSN Code">
            </div>
            <input type="submit" class="btn" value="Search">
        </form>
    </div>
    <table class="data-table">
        <caption>Inventory</caption>
        <thead>
          <tr>
            <th>Item ID</th>
            <th>Item Category</th>
            <th>Item Name</th>
            <th>Current Stock</th>
            <th>Units</th>
            <th>Default Price</th>
            <th>Regular Selling Price</th>
            <th>Regular Buying Price</th>
            <th>MRP</th>
            <th>Dealer Price</th>
            <th>Distributor Price</th>
            <th>Tax</th>
            <th>Item Type</th>
            <th>Stock Status</th>
            <th>HSN Code</th>
            <th>Min Stock Level</th>
            <th>Max Stock Level</th>
          </tr>
        </thead>
        <tbody>
          <!-- Sales data rows -->
          {% for invent, category, units in query_result %}
          <tr>
            <td>{{ invent.id }}</td>
            <td>{{ invent.item_name }}</td>
            <td>{{ category.name }}</td>
            <td>{{ units.name }}</td>
            <td>{{ invent.default_price }}</td>
            <td>{{ invent.regular_selling_price }}</td>
            <td>{{ invent.regular_buying_price }}</td>
            <td>{{ invent.mrp }}</td>
            <td>{{ invent.dealer_price }}</td>
            <td>{{ invent.distributer_price }}</td>
            <td>{{ invent.tax }}</td>
            <td>{{ invent.item_type }}</td>
            {% if invent.current_stock < invent.min_stock_level %}
              <td><p style="color: red;">Less Stock</p></td>
            {% elif if invent.current_stock > invent.max_stock_level %}   
              <td><p style="color: yellow;">More Stock</p></td>
            {% else %}
              <td><p style="color: green;">Optimal Stock</p></td>
            {% endif %}
              <td>{{ invent.hsn_code }}</td>
            <td>{{ invent.min_stock_level }}</td>
            <td>{{ invent.max_stock_level }}</td>
            <!-- Add table cells for other attributes -->
          </tr>
          {% endfor %}
          <!-- Add more data rows as needed -->
        </tbody>
      </table>
</body>
{% endblock%}