<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link rel="stylesheet" href="../static/login.css">
</head>
<body>
    <div class="background-container">
        <img src="../static/img/InventoryImg.jpeg" alt="Background Image" class="background-image">
      </div>
  <div class="login-box">
    <h2>Welcome</h2>
    <form id="loginForm" action="#" autocomplete="off" method="POST">
        <div class="textbox">
          <input type="email" placeholder="Email" name="email" autocomplete="off" required>
        </div>
        <div class="textbox">
          <input type="password" placeholder="Password" name="password" autocomplete="off"  required>
        </div>
        <input type="submit" class="btn" value="Login">
    </form>
  </div>
</body>
</html>
