<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reports</title>
    <link rel="stylesheet" href="../static/slide.css">
</head>
<body>

<div class="button-container">
    <button class="button" >Current stock</button>
    <button class="button">Budget Allocation</button>

</div>
<div class="button-container1">
    <button class="button1">Raw Material status</button>
    <button class="button1">Forecast</button>
</div>

</body>
</html>
