<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign-Up</title>
  <link rel="stylesheet" href="../static/signup.css">
</head>
<body>
    <div class="background-container">
        <img src="../static/img/InventoryImg.jpeg" alt="Background Image" class="background-image">
      </div>
  <div class="login-box">
    <h2>Welcome</h2>
    <form id="loginForm" action="#" autocomplete="off">
      <div class="textbox">
        <input type="text" placeholder="Username" name="username" required>
      </div>
      <div class="textbox">
        <input type="password" placeholder="Password" name="password" required>
      </div>
      <input type="submit" class="btn" value="Login">
    </form>
    <p id="p1">
      Click here to 
      <a href="./login.html" id="a1">Login</a>
    </p>
  </div>
  <script src="login.js"></script>
</body>
</html>
