/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    margin: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    margin: 0;
    background-color: white;
    /*height: 150px;
    border-bottom: 1px solid rgb(207, 206, 206);*/
    display: flex;
    flex-direction: column;
    width: 100%;
    /*justify-content: space-between; /* Align items at the start and end of the flex container */
    /*align-items: center; /* Center align items vertically */
}
.company-user{
    padding: 20px;
    display: inline-flex;
    justify-content: space-between;

}
.company-name{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    color: black;
}
.username{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: black;
}
.nav-div {
    display: flex;
    flex-direction: row;
    padding: 20px;
    background-color: rgb(17, 6, 87);
}
.nav-bar {
    list-style: none;
    font-size: 18px;
    display: flex; /* Apply flex to the nav bar */
}
.nav_item {
    margin-right: 20px; /* Add spacing between menu items */
    transition: all 0.3s;
    position: relative;
}
.nav_link{
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}
.nav_link:hover{
    text-decoration: underline;
    color: white;
}
.sub-menu {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    background-color: rgb(17, 6, 87);
    border: 1px solid #ccc;
    padding: 10px;
    width: 150px;
    z-index: +1;
    transition: opacity 0.4s ease, visibility 0.4s ease; /* Apply transition effect */
}
.nav_item:hover .sub-menu {
    opacity: 1;
    visibility: visible;
}
.sub-menu li {
    margin: 5px 0;
    list-style: none;
    justify-content: space-between;
}
.container {
    max-width: 900px;
    width: 100%;
    height: 740px;
    border-radius: 6px;
    padding: 30px;
    margin: 15px auto; /* Center the container horizontally */
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.container form {
    position: relative;
    margin-top: 16px;
    min-height: 490px;
    background-color: #fff;
    
}

.container form .form {
    position: absolute;
    background-color: #fff;
    transition: 0.3s ease;
}

form.secActive .form.first {
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
}

.container form .title {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    color: #333;
}

.container form .fields {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

form .fields .input-field {
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;
}

.input-field label {
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;
}

.input-field input,
select {
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}

.input-field input:focus,
.input-field select:focus {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}

.input-field select,
.input-field input[type="date"] {
    color: #707070;
}

.input-field input[type="date"]:valid {
    color: #333;
}

.container form button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 25px 0;
    background-color: #4070f4;
    transition: all 0.3s linear;
    cursor: pointer;
}

.container form .btnText {
    font-size: 14px;
    font-weight: 400;
}

form button:hover {
    background-color: rgb(17, 6, 87);
}