.form-div{
    margin-left: 20px;
}
.textbox {
    display: inline-block;
    margin-top: 20px;
    margin-right: 60px;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.textbox input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.btn {
    width: auto;
    padding: 10px 40px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: #fff;
    cursor: pointer;
    animation: fadeIn 0.5s forwards;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: white;
    color: black;
    border: 1px solid grey;
}


.form-div {
    display: flex; /* Change from display: inline-flex; */
    flex-wrap: wrap; /* Allow items to wrap to the next line if needed */
    justify-content: space-between; /* Adjust alignment of items */
    align-items: flex-start; /* Adjust alignment of items */
    margin-bottom: 20px;
}
/* General table styling */
.data-table {
    width: 99%;
    margin: 0 auto;
    border-collapse: collapse;
    animation: fadeIn 0.5s forwards;
  }
  
  /* Table caption */
  .data-table caption {
    font-size: 1.2em;
    margin-bottom: 0px;
    background-color: #ccc;
    padding: 1.2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  /* Table header */
  .data-table th {
    background-color: rgb(52, 52, 52);
    color: #fff;
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  /* Table body */
  .data-table td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    border: 1px solid #ddd;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
  }
  
  /* Alternating row colors */
  .data-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  /* Hover effect on rows */
  .data-table tbody tr:hover {
    background-color: #e0e0e0;
  }

  form button:hover {
    background-color: rgb(17, 6, 87);
  }